 /* Reset CSS see --> http://meyerweb.com/eric/tools/css/reset/ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Reset CSS see --> http://meyerweb.com/eric/tools/css/reset/ */

/*special fonts */

@font-face{
	font-family: 'Kaufmann Bold';
	src: url(font/Kaufmann_Bold.otf);

}

@font-face {
	font-family: 'Kaufmann';
	src: url(font/Kaufmann_Regular.ttf);
}

/* page style theme */
#wrapper{
      background-color: #E3F2FD;
      max-width: 59.125em; /* 930px/16px(1em)*/
		height: 100%; /*expands the entire length, nonselective to the screen size*/
		margin: auto; /* centers wrapper*/
		padding:.5em;
}

body{
	padding: .75em;
}

header{

}


main{

	padding: 3em;
	padding-bottom: 0em;
	overflow: hidden;
	width: 53.125em;
	margin: auto;

}

footer{
	background-color:#F0FFFF;
	color:#000000;
	background-color:#FFFAF0;
	width: 59.125em;
	margin: auto;
}

h1.kaufb{
		font-family:'Kaufmann';
		text-align: center;
		font-size: 4em;
		color: black;
		padding-bottom: .25em;
		letter-spacing: .01em;
}

.line{
	width: 53.125em;
	border-bottom: black;
	border-style: solid;
	border-width: thin;
	margin: auto;
}

.footer{
  font-family: monospace;
  text-align: center;
  font-size: medium;
}

/* nav bar styling */

#nav
{
	padding-top: 1em;
	width: 100%;
}
#nav li
{
  display:inline-block; /* this makes your list elements show up in 1 row*/
  list-style-type: none;
  width: 9%;
  margin-left: 7.25em;
}

#nav a
{
  text-align: center;
  color: black;
  font-size: 1.1em;
}

/* Hyperlink */
a:hover{
	color: #FFDF00;
}


/*index page */
#selfpic{

	float: left; /* no need to add margins since its contatiner has padding */
}

#text{
	width: 70%;
	float: right;
	text-align: center;
	font-size: 1.5em;
	padding-top: 2em;
	font: NeutraDemi;
}


/* Index Page */
