 /* Reset CSS see --> http://meyerweb.com/eric/tools/css/reset/ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Reset CSS see --> http://meyerweb.com/eric/tools/css/reset/ */

@font-face{
	font-family: 'Kaufmann Bold';
	src: url(font/Kaufmann-Bold.otf);
	font-family: 'Kaufmann;'
	src:url(font/Kaufmann_Regular.ttf);
}

/*index page */
#iwrapper{
      background-color: #E3F2FD;
      width: 58.125em; /* 930px/16px(1em)*/
		height: 100%; /*expands the entire length, nonselective to the screen size*/
		margin: auto; /* centers wrapper*/
		padding: 2em; /*applies to all four sides */
}

.selfpic{
   float: left; /* no need to add margins since its contatiner has padding */

}

.aboutme{
   width: 70%;
   margin-right: 5%;
   float: right;
}

.aboutme .words{
   width: 50%;
   margin: 0 auto;
}

h1.cursive{
   text-align: center;
	margin-bottom: 10%;
}

.aboutme .navbar{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
   background-color: #BBDEFB;
	float: auto;
   margin-top: 5%;
}

.aboutme .navbar .nav{
	font-weight: normal;
	color: white;
}

 .footer{
	font-family: courier, monospace;
	text-align: center;
	font-size: medium;
}
 .pic{
	 float: left;
 }

#wrapper{
	height: 100%;
	max-width: 80%;
	margin: auto;
	}

/* Body work */

body{
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	/*font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif; */
	font-family: 'Kaufmann Bold', 'Kaufmann';
	background-color: #fffefa;
	}

.NavBar{
	background-color:#F8F8FF;
	text-transform: uppercase;
	color:#000000;
}

.footer{
	background-color:#F0FFFF;
	text-transform: lowercase;
	color:#000000;
	background-color:#FFFAF0;
}
