 /* Reset CSS see --> http://meyerweb.com/eric/tools/css/reset/ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Control Width of body */

#wrapper{
	height: 100%;
	max-width: 80%;
	margin: auto;
	}

/* Body work */

body{
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif; 
	background-color: #fffefa;
	font-size: 24px;
	}

.NavBar{
	background-color:#F8F8FF;
	text-transform: uppercase;
	color:#000000;
}

.footer{
	background-color:#F0FFFF;
	text-transform: lowercase;
	color:#000000;
	background-color:#FFFAF0;
}

